@use "input";

@mixin input-active-label-css {
  display: none;
}

.input-box {
  @include input.input-box;

  input:focus + .label-for-control {
    @include input-active-label-css;
  }

  input:valid + .label-for-control {
    @include input-active-label-css;
  }
}
