$my-message-color: #e9eefb;
$my-message-color: #e9eefb;
$other-message-color: #c4c4c4;

.chat-container__messages-container {
  width: 100%;
  height: 90%;
  display: inline-flex;
  flex-direction: column-reverse;
  padding: 20px;
  margin-right: 20px;
  overflow-y: auto;
}

.messages-container__message {
  height: fit-content;
  margin: 5px;
  width: 40%;
  padding: 10px;
  border-radius: 3px;
}

.messages-container__message-other {
  background-color: $other-message-color;
  margin-right: auto;
}

.messages-container__message-my {
  background-color: $my-message-color;
  margin-left: auto;
}

.message-container__time {
  width: fit-content;
  margin-left: auto;
  padding-top: 10px;
}

.chat-container__controls-container {
  flex-grow: 1;
  width: 100%;
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.controls-container__icon-container {
  height: 40px;
  width: 40px;
  margin: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.controls-container__input-box {
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
}
