@use "../../../variables";

.nav__header {
  top: 0;
  height: fit-content;
}

.chats-container__search-box {
  margin: auto;
  width: 90%;
}

.search-input-box {
  background-color: variables.$search-input-background-color;

  input {
    background-color: variables.$search-input-background-color;
  }
}
