---
stylesheets:
- signin-signup.scss
- inputMovingLabel.scss
- button.scss
- modalWindow.scss
errorText: Error Text
---

{{!< mainLayout}} <main>
    <div class="signin-page">
        <div class="signin-page__container">
            <div class="modal-window__header-container">
                <div class="header-container__text"><p>Change Password</p></div>
                <div class="header-container__icon-container">{{> close-icon}}</div>
            </div>
            <hr>
            <p>Select an image formatted as JPG, PNG or GIF</p>
            <div id="status" class="mini-text signin-container__error-default">{{errorText}}</div>

            <form>
                {{> input type="password" id="password" class="form-container__input-box form-idents" label="Password *" }}
                {{> input type="password" id="confirm-password" class="form-container__input-box form-idents" label="Confirm Password *" }}
                {{> button id="submit" class="form-container__button-box form-idents" text="Save"}}
            </form>
        </div>
    </div>
    </main>