---
stylesheets:
- signin-signup.scss
- inputMovingLabel.scss
- button.scss
- modalWindow.scss
errorText: Error Text
---

{{!< mainLayout}} <main>
    <div class="signin-page">
        <div class="signin-page__container">
            <div class="modal-window__header-container">
                <div class="header-container__text">
                    <p>Change Password</p>
                </div>
                <div class="header-container__icon-container">{{> close-icon}}</div>
            </div>
            <hr>
            <div id="status" class="mini-text signin-container__error-default">{{errorText}}</div>

            <form>
                <div class="form-idents">
                    {{> input type="password" id="oldPassword" class="form-container__input-box" label="Password *" }}
                </div>
                <div class="form-idents">
                    {{> input type="password" id="newPassword" class="form-container__input-box" label="Confirm Password *" }}
                </div>
                {{> button id="submit" class="form-container__button-box form-idents" text="Save"}}
            </form>
        </div>
    </div>
    </main>