---
title: This is a heading
pages:
    - page: {path: ../signIn.html, name: Sign In}
    - page: {path: ../signUp.html, name: Sign Up}
---
{{!< mainLayout}}

<main>
    <h1>Welcome from index.hbs. Available pages:</h1>
    <ul>
        {{#each pages}}
        <li><a href="{{page.path}}">{{page.name}}</a></li>
        {{/each}}
    </ul>
</main>
