<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>middle.messenger.praktikum.yandex.rmatafonov</title>
        <link href="../css/global.scss" rel="stylesheet" />
    {{#each stylesheets}}
        <link href="../css/{{this}}" rel="stylesheet" />
    {{/each}}
</head>

<body>
    {{{body}}}
</body>

</html>