@use "input";

@mixin input-active {
  top: -10px;
  background-color: white;
  font-size: 14px;
  padding-left: 3px;
  padding-right: 3px;
}

.form-container__input-box {
  @include input.input-box;

  input:focus + label {
    @include input-active;
  }

  input:valid + label {
    @include input-active;
  }
}
