@use "messengerNavHeader";
@use "messengerChatsList";

// --- Side Bar

hr {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #b4c5f0;
}

.messenger-page {
  height: 90vh;
  margin: 20px;
}

.messenger-container {
  height: 100%;
  width: 100%;
  margin: auto;
  display: inline-flex;
  align-items: center;
}

.messenger-container__nav {
  display: inline-flex;
  flex-direction: column;
  background-color: #e9eefb;
  height: 100%;
  width: 20%;
  min-width: 400px;
}

// --- Messenger

.messenger-container__messages-container {
  > p {
    width: fit-content;
    margin: auto;
  }
  flex-grow: 1;
  margin: auto;
  min-width: 400px;
}
