<div class="chats-list__item-container {{#if isSelected}}chats-list__item-container-selected{{/if}}">
    <div class="chats-list-container__sender-photo">
        <img class="photo-image" src="../img/camera_200.png" alt="Ph">
    </div>
    <div class="chats-list-container__last-message-container">
        <span>
            {{#if lastMessageHeaderPrefix}}
            <span class="bold-text">{{lastMessageHeaderPrefix}}:</span>
            {{/if}} {{lastMessageHeader}}
        </span>
        <span class="mini-text">
            {{#if lastMessageSender}}
            <span class="bold-text">{{lastMessageSender}}:</span>
            {{/if}} {{lastMessageText}}
            {{!-- TODO: add Handlebars helper for truncating a text to X symbols (here is
            140) --}}
        </span>
    </div>
</div>
<hr>