<div class="signin-page__container">
    <div class="signin-container__logo"></div>

    <h2>Sign In</h2>

    <form class="signin-container__form-container">
        <input id="login" type="text" name="login" class="input-control" class="form-container__input-box" />
        <label for="login">Login *</label>

        <input id="password" type="password" name="password" class="input-control" class="form-container__input-box" />
        <label for="password">Password *</label>

        <input id="remember-me" type="checkbox" name="password" class="remember-me__checkbox" />
        <label for="remember-me">Remember Me {{ name }}</label>

        <div class="form-container__botton-box">
            <input type="submit" name="password" class="input-control" />
        </div>

        <div class="form-container__links-box">
            <span><a href="#">Forgot Password?</a></span>
            <span><a href="#">Sign Up</a></span>
        </div>

        <div class="form-container__copyright-box">
            <span>Copyright © <a href="#">Your Website</a> 2022.</span>
        </div>
    </form>
</div>