$background-color: white;
$primary-color: #a0aaad;
$text-color: #6c97a5;
$attention-text-color: #fd2f2f;
$photo-box-background-color: #438ea5;
$shadow-color: #9f9ff3;
$my-message-color: #e9eefb;
$other-message-color: #c4c4c4;
$search-input-background-color: #d9deeb;
