---
title: This is a heading
pages:
    - page: {path: ./signIn.hbs, name: Sign In}
    - page: {path: ./messengerNoSelectedChat.hbs, name: "Messenger: No Selected Chat"}
    - page: {path: ./messengerSelectedChat.hbs, name: "Messenger: Selected Chat"}
---
{{!< mainLayout}}

<main>
    <h1>Welcome from index.hbs. Available pages:</h1>
    <ul>
        {{#each pages}}
        <li><a href="{{page.path}}">{{page.name}}</a></li>
        {{/each}}
    </ul>
</main>