---
stylesheets:
- messenger.scss
- input-disapearing-label.scss
---

{{!< mainLayout}} <main>
    <div class="messenger-page">
        <div class="messenger-container">
            <nav class="messenger-container__nav">
                <div class="nav__header">
                    <div class="chats-container__profie-container">
                        <div class="chats-container__profie-photo">
                            <img src="../img/camera_200.png" alt="Ph">
                        </div>
                        <div class="chats-container__profie-name">
                            Vasily Ivanov (me)
                        </div>
                    </div>
                    <hr>
                    <div class="chats-container__search-box">
                        <div class="input-box">
                            <input id="search" type="text" name="search" autocomplete="off" />
                            <label for="search">Search</label>
                        </div>
                    </div>
                </div>
                <div class="messenger-nav__chats-list-container">
                    <div class="messenger-nav__chats-list">
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                        <p>Chats</p>
                    </div>
                </div>
            </nav>

            <div class="messenger-container__messages-container">
                <p>Select a Chat</p>
            </div>
        </div>
    </div>
    </main>