---
stylesheets:
- signin-signup.scss
- checkbox.scss
- inputMovingLabel.scss
- button.scss
---

{{!< mainLayout}} <main>
    <div class="signin-page">
        <div class="signin-page__container">
            <div class="signin-container__logo"></div>

            <h2>Sign In</h2>
            <div id="status" class="mini-text signin-container__error-default">Invalid login/password</div>

            <form>
                {{> input type="text" id="login" class="form-container__input-box" label="Login *" }}
                {{> input type="password" id="password" class="form-container__input-box" label="Password *" }}

                {{> checkbox id="remember-me" name="password" class="form-container__checkbox" label="Remember Me" }}

                {{> button id="submit" class="form-container__button-box" text="Sign In"}}
            </form>

            <div class="mini-text signin-container__links-box">
                <span class="links-box__left"><a href="./forgot.hbs">Forgot Password?</a></span>
                <span class="links-box__right"><a href="./signUp.hbs">Sign Up</a></span>
            </div>

            <div class="mini-text signin-container__links-box form-container__double-ident">
                <span class="links-box__center">Copyright © <a href="#">Your Website</a> 2022.</span>
            </div>
        </div>
    </div>
    </main>